.Body{
    display: flex;
}



.Sidebar{
    background-color: #121212;
    height: 100vh;
    width: 25vw;
    display: inline-block;

}


/* This part is for the main chat area */
.ChatSection{
    background-color: #212121f8;
    height: 100vh;
    width: 75vw;
    display: inline-block;
}